@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 420px;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    font-size: 12px;
    position: relative;
    overflow-y: hidden;
}

.full-height{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 60px;
}

header.page{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.page h2{
    text-align: center;
    color: #717171;
    letter-spacing: 1px;
}

h3{
    color: #545454;
}

a,span,button{
    font-family: "Poppins", sans-serif;
}

.fixed-header{
    width: 100%;
    height: 220px;
    background-image: url(../img/header-bg.png);
    background-color: #00000066;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 20px 10px;
}

.d-flex{
    display: flex;
}

.mx-3{
    margin-left: 3px;
    margin-right: 3px;
}

.row{
    flex-direction: row;
}

.btn{
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
    border: none;
}

.btn:focus{
    outline: none;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.btn-blur{
    color: #fff;
    background-color: #FFFFFF4D;
    backdrop-filter: blur(2px);
}

.align-items-center{
    align-items: center;
}

.justify-content-between{
    justify-content: space-between;
}

.text-white{
    color: #fff;
}

.form-control{
    border-radius: 8px;
    padding: 9px;
    border: none
}

.search .form-control{
    width: 150px;
}

.form-control:focus{
    outline: none;
}

.input-blur{
    backdrop-filter: blur(2px);
    background-color: #FFFFFF4D;
    color: #fff
}
.input-append{
    position: relative;
}

.append-icon{
    position: absolute;
    top: 8px;
    right: 10px;
}

input::placeholder{
    color: #FFFFFF88;
    font-family: "Poppins", sans-serif;
}

.balance{
    height: 33px;
}

.balance .btn{
    padding: 11px
}

.text-center{
    text-align: center;
}

.toggler{
    width: 24px;
}

.notification button{
    border-radius: 6px;
    padding: 4px;
    cursor: pointer;
    border: none;
}

.row2nd{
    width: 100%;
}

.row2nd .controls{
    width: 50%;
    margin: 0px 5px;
    height: 50px;
}

.row2nd .controls:nth-child(1){
    margin-left: 0px;
}

.row2nd .controls .btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    margin-top: -70px;
    min-height: 70vh;
    width: 100%;
    background-color: #F3F3F3;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
}

.main .widgets{
    padding: 12px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.widget{
    width: calc(25% - 8px);
    height: 70px;
    border-radius: 8px;
    background-color: #DFEAFD;
    margin: 4px;
}

.lifehacks{
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    overflow: hidden;
    transition: all 0.4s ease;
}

.lifehacks.active{
    overflow-x: auto;
}

.lifehacks.active .lifehack-container{
    height: 140px;
}

.lifehacks.active .drop-controls i{
    transform: rotate(180deg);
}

.widget{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.widget-icon{
    height: 35px;
}

.widget .inner-text{
    font-size: 9px;
    font-weight: 600;
}

.drop-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drop-controls i{
    margin-right: 25px;
    font-size: 15px;
    transition: all 0.2s ease;
}

.lifehacks h3{
    margin: 4px 0px;
}

.lifehacks-list{
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.lifehacks.active .lifehacks-list{
    overflow-x: auto;
}

.lifehack-container{
    width: 170%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    height: 0px;
    transition: all 0.4s ease;
}

.lifehack{
    height: 120px;
    border-radius: 10px;
    width: calc(30% - 8px);
    margin: 4px;
    background-color: black;
}

.near-locations{
    margin-top: 24px;
    padding: 12px;
    background-color: #fff;
    border-radius: 10px;
}

.near-locations .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

a{
    text-decoration: none;
    color: #0489EA;
}

.card-image img{
    width: 80px;
    height: 80px;
    border-radius: 3px;
}

.card{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    border: 1px solid #F3F3F3;
    margin: 6px 0px;
}

.card-header{
    font-weight: 600;
}

.card-inner{
    padding: 10px 6px;
}

.card-desc{
    color:#797C83;
}

.card-info{
    padding: 8px 0;
    display: flex;
    flex-direction: row;
}

.stars svg{
    margin-right: 5px;
}

.footer-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: space-around;
}

.nav-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.nav-item.active svg path{
    fill: #109BFF;
    border: 1.5px solid #109BFF;
    stroke: #109BFF;
    stroke-width: 1.5px;
}

.nav-item svg path{
    stroke: #B7BDBB;
    stroke-width: 1.5px;
}

.nav-item{
    color: #B7BDBB;
}

.nav-item.active{
    color: #0489EA;
}

.bg-muted{
    background-color: #F3F3F3;
}

.tab{
    display: flex;
    justify-content: center;
}

.tab-controls{
    display: flex;
    justify-content: center;
    background-color: #E8E8E8;
    border-radius: 8px;
    padding: 2px;
}

.tab-control{
    padding: 8px 32px;
    font-weight: 600;
    font-size: 12px;
    color: #C0C0C0;
}

.tab-content{
    width: 100%;
}

.tab-control.active{
    background-color: #fff;
    border-radius: 6px;
    color: #484848;
}

#search{
    padding: 12px;
    position: relative;
    background-color: #fff;
    width: calc(100% - 40px);
}

.from{
    width: 100%;
}

.to{
    width: 100%;
}

.from-date{
    width: calc(50% - 8px);
    margin-right: 8px;
}

.to-date{
    width: calc(50% - 8px);
    margin-left: 8px;
}

.search-btn{
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    height: 50px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    margin-bottom: 6px;
    cursor: pointer;
}

.window-header svg{
    cursor: pointer;
}

.input-clear{
    cursor: pointer;
}

.tab-controls{
    cursor: pointer;
}

.btn-inner{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.btn-inner .label{
    font-size: 9px;
    font-weight: 500;
}

.selected-value{
    font-weight: 600;
    letter-spacing: 0.4px;
}

.selected-value .p_class{
    color: #C0C0C0;
    font-weight: 400;
}

.btn-block{
    display: block;
    text-align: center;
    width: 100%;
}

.btn-primary{
    background-color: #109BFF;
    color: #fff;
}

.m-20{
    margin: 20px;
}

.tab-content .content{
    display: none;
}

.tab-content .content.active{
    display: block;
}

.content{
    margin: 20px;
    border-radius: 5px;
}

.ticket{
    position: relative;
    padding-bottom: 16px;
    border-radius: 5px;
    background-color: #fff;
}

.ticket-part-1{
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.ticket-part-1 div{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.ticket-part-1 div:nth-of-type(odd) span:nth-child(1){
    font-size: 8px;
    color: #484848;
}

.ticket-part-1 div:nth-of-type(odd) span:nth-child(2){
    font-size: 14px;
    color: #484848;
    line-height: 21px;
    font-weight: 600;
}

.badge{
    padding: 2px 8px;
    background: #EBEBEB;
    border-radius: 8px;
    font-size: 8px;
    text-transform: uppercase;
    margin-top: 4px;
    cursor: pointer;
}

.ticket-part-1 div.ticket-to{
    align-items: flex-end;
}

.flying-time{
    color: #ADADAD;
}

.ticket-part-2{
    border-top: 1px dashed #EBEBEB;;
    padding: 16px 24px 8px;
    display: flex;
    justify-content: space-between;
}

.ticket-part-2 div{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ticket-part-2 div .name{
    font-size: 8px;
    font-weight: 400;
    color: #929292;
}

.ticket-part-2 div .value{
    font-size: 10px;
    font-weight: 500;
}

.ticket .info{
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket .info span:nth-child(1){
    color: #A7A7A7;
    font-size: 8px;
}

.ticket .info span:nth-child(2){
    color: #00AD00;
    font-size: 14px;
    font-weight: 600;
}

.ticket{
    margin: 6px 0px;
}

.ticket::after{
    position: absolute;
    content: " ";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 45%;
    background-color: #f3f3f3;
    left: -6px;
}

.ticket::before{
    position: absolute;
    content: " ";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 45%;
    background-color: #f3f3f3;
    right: -6px;
}

.help-window .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000088;
}

.help-window{
    position: absolute;
    bottom: -100%;
    height: 100%;
    width: 100%;
    transition: all 0.2s ease;
}

.help-window.active{
    bottom: 0;
}

.active .window-content{
    position: absolute;
    bottom: 0;
    left: 0;
    max-height: calc(100vh - 60px);
    background-color: #fff;
    overflow-y: auto;
    padding: 27px 20px;
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.window-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-group{
    margin-top: 20px;
    position: relative;
}

.search-group input{
    font-family: "Poppins", sans-serif;
    padding: 15px;
    padding-left: 45px;
    font-size: 14px;
    background-color: #F6F6F6;
    display: block;
    width: 100%;
}

.search-group input::placeholder{
    color: #B6B6B6;
}

.search-group .search-icon{
    position: absolute;
    top: 13px;
    left: 10px;
}

.results{
    margin-top: 10px;
    height: calc(80vh - 120px);
    overflow-y: auto;
}

.results li{
    cursor: pointer;
    list-style-type: none;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #E2E2E2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.results li div{
    display: flex;
    flex-direction: column;
}

.results li div span:nth-child(2){
    font-size: 10px;
    font-weight: 400;
}

.results li div span:nth-child(1){
    font-size: 14px;
    font-weight: 500;
}

.input-clear{
    display: none;
}

.input-clear.show{
    display: block;
    position: absolute;
    top: 17px;
    right: 12px;
}

.calendar{
    width: 100%;
    height: 350px;
    padding: 24px 40px;
}


.classes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
  }
  
.classes .btn{
    display: inline-block;
    width: 100px;
    margin-right: 6px;
    text-align: center;
}

.passengers{
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.passengers-type{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}

.passengers-type .info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    letter-spacing: 1px;
}

.passengers-type .info span:nth-child(1){
    font-size: 14px;
    font-weight: 600;
}

.passengers-type .info span:nth-child(2){
    font-size: 10px;
    font-weight: 400;
}

.passengers-type .counter{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.passengers-type .counter button{
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #109BFF;
    color: #109BFF;
    margin: 0 6px;
    cursor: not-allowed;
}

.passengers-type .counter button.active{
    background-color: #109BFF;
    color: #fff;
    cursor: pointer;
}

.passengers-type .counter span{
    min-width: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

.swapper{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #bcbcbc;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 30px;
    top: 50px;
    cursor: pointer;
}

section .page h2 svg{
    margin-bottom: -2px;
}

section .page h2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} section .page h2 span:not(.head){
    color: #8f8f8f;
    font-weight: 500;
    font-size: 10px;
}

.bg-white{
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
}

section .bg-white h2{
    color: #1A1A1A;
    font-weight: 500;
}

section.bg-white .go-back svg path{
    stroke: #109BFF;
}

.slider-container{
    width: 100%;
    overflow-x: auto;
}

.slider{
    overflow-x: auto;
    background-color: #E8E8E8;
}

.slider-item{
    display: inline-block;
    width: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 6px;
}

.slider-item .date{
    font-weight: 500;
    font-size: 12px;
}

.slider-item .cost{
    font-weight: 400;
    font-size: 10px;
}

.slider-item.active{
    background-color: #109BFF;
    color: #fff;
}

.container{
    padding: 20px;
}

.ticket-types .badge{
    background-color: transparent;
    color: #08162580;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 18px;
    font-size: 12px;
    text-transform: unset;
    margin-right: 10px;
}

.ticket-types .badge.active{
    color: #000;
    font-weight: 500;
    border: 1.5px solid #109BFF;
}

.tickets{
    margin-top: 16px;
}

.ticket-result{
    margin: 8px 0;
    background-color: #fff;
    padding: 24px 16px;
    border-radius: 5px;
}

.ticket-head{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.airport{
    display: flex;
    align-items: center;
    justify-content: start;
}

.airport img{
    margin-right: 5px;
}

.bonus span{
    margin: 0 3px;
    color: #12951F;
    font-weight: 500;
    font-size: 12px;
}

.bonus{
    display: flex;
    align-items: center;
}

.ticket-info{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px 0px;
}

.ticket-info .times{
    font-size: 16px;
    font-weight: 500;
}

.ticket-info .locations{
    font-size: 12px;
    font-weight: 500;
    color: #a4a4a4;
}

.fly-about{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.fly-about .fly-time{
    font-size: 12px;
    font-weight: 500;
    text-align: end;
}

.fly-about .fly-type{
    font-size: 10px;
    font-weight: 500;
    color: #a4a4a4;
}

.pricing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.i-dont{
    margin-top: 3px;
    display: inline-block;
    background-color: #CCEAFF;
    font-size: 14px;
    font-weight: 500;
}

.i-dont span{
    font-size: 12px;
    color: #a4a4a4c7;
}

.filter.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 78px);
    box-shadow: 0px 4px 8px rgba(16, 155, 255, 0.3);
    border-radius: 25px;
    padding: 8px 40px;
    font-size: 14px;
    text-align: center;
}

.ticket-about{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.ticket-about .regions{
    font-size: 14px;
    font-weight: 400;
}

.ticket-date{
    color: #00000080;
    font-size: 10px;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.ticket-content{
    margin-top: 15px;
}

.airport-info{
    display: flex;
    justify-content: flex-start;

}

.help-window .airport-logo{
    width: 36px;
    height: 36px;
    margin-right: 15px;
}

.air-info .air-name{
    font-weight: 400;
    font-size: 16px;
}

.air-info .air-long{
    font-weight: 400;
    font-size: 10px;
    color: #a4a4a4;
    margin-top: 3px;
}

.fly-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0px;
}

.left-img{
    margin-right: 28px;
}

.parvoz{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.parvoz-inner{
    display: flex;
    justify-content: space-between;
}

.p-vaqt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 6px 0px
}

.parvoz-time{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: #000000;
}

.parvoz-date{
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    color: #00000080;
    margin-top: 4px;
}

.p-region{
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    color: #000000;
}

.p-airport{
    color: #00000080;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.3px;
    margin-top: 4px;
}

.continue{
    padding: 16px;
}

.filter-window{
    margin: 24px 0px;
    padding: 12px 0px;
}

.filter-window h2{
    margin-bottom: 12px;
}

.transfer-count{
    font-size: 12px;
    line-height: 18px;
    color: #676767;
}

.transfers{
    padding: 12px 0;
}

.help-window .badge{
    border: 1px solid #0000004D;
    color: #0000004D;
    font-size: 12px;
    background-color: transparent;
    border-radius: 18px;
    display: inline-block;
    margin-right: 4px;
    margin-top: 8px;
    white-space: nowrap;
}

.help-window .badge.active{
    color: #000000;
    border: 1.5px solid #109BFF;
}

.go-time{
    background: #F3F3F380;
    margin: 0 -20px;
    padding: 20px;
}

.go-inner{
    display: flex;
    flex-direction: column;
}

.go-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.go-info h3{
    color: #000;
}

.go-info span{
    color: #A4A4A4;
    font-size: 14px;
}

.go-range{
    padding: 20px 0;
}

.filter-airports{
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#tungi{
    position: absolute;
    left: -500px;
}

.switch{
    width: 32px;
    height: 18px;
    background-color: #0000004D;
    
    position: relative;
    transition: all 0.2s ease;
    position: absolute;
    border-radius: 9px;
}

.row{
    display: flex;
}

.between{
    justify-content: space-between;
}

label.check{
    width: 50px;
    height: 100%;
    position: relative;
}

.switch::after{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    content: " ";
    position: absolute;
    border: 1px solid #0000004D;
    top: -2px;
    left: -2px;
    transition: all 0.2s ease;
}

#tungi:checked ~ .switch{
    background-color: #109BFF;
}

#tungi:checked ~ .switch::after{
    border: 1px solid #109BFF;
    left: 12px;
}